    <!--ALERT BOX STARTS-->
    <section class="kpmg-one-alert kpmg-one-alert-warning" ng-if="viewData.status == 'Pending'">
        <aside>Your request is awaiting for Approval...</aside>
        <p>{{viewData.createdDate}}</p>
    </section>
    <!--ALERT BOX ENDS-->

    <!--ALERT BOX STARTS-->
      <section class="kpmg-one-alert kpmg-one-alert-success" ng-if="viewData.status == 'Approved'">
          <aside>Your request has been Approved...</aside>
          <article>Welcome onboard!</article>
          <article>Your App Key is : {{viewData.app_key}}</article>
          <section class="kpmg-one-alert-app-status">
               <ul class="kpmg-one-app-status">
                    <li class="{{viewData.isOnborded == 1 ? '':'deactive'}}">Onboarded</li>
                    <li class="{{viewData.isNotification == 1 ? '':'deactive'}}">Notification</li>
                    <li class="{{viewData.isAnalytic == 1 ? '':'deactive'}}">Analytics</li>
                    <li class="{{viewData.isAdhoc == 1 ? '':'deactive'}}">Adhoc Notification</li>
                  <a ng-click="copyDataToClipboard(viewData.app_key)" ng-if="copyToClipBoardResponse == false">Copy Key</a>
                  <a ng-if="copyToClipBoardResponse == true">Copied</a>
                  
              </ul>
          </section>
      </section>
      <!--ALERT BOX ENDS-->

    <!--ALERT BOX STARTS-->
    <section class="kpmg-one-alert kpmg-one-alert-danger" ng-if="viewData.status == 'Rejected'">
        <aside>Your request has been Rejected...</aside>
        <p>{{viewData.rejectReason}}</p>
    </section>
    <!--ALERT BOX ENDS-->

<!--TAB3 STARTS-->
  <section class="kpmg-one-tab-content kpmg-one-tab-content-onboard">
      <h1>Onboarding App</h1>
        <form  method="POST" id="uploadbutton" enctype="multipart/form-data" name="submitOnboardingForm" novalidate>
          <input type="hidden" name="userId" ng-model="userId" />
          <input type="hidden" name="labelId" ng-model="labelId" />
          <ul class="kpmg-one-tab-content-col">
              <li class="kpmg-one-multi-col3">
                  <label>Application Name</label>
                  <input type="text" name="applName" ng-model='applName' required ng-disabled='is_disabled_form'>
                  <p ng-show="(submitOnboardingForm.applName.$error.required && isvalid_form_error) || (submitOnboardingForm.applName.$error.required && submitOnboardingForm.applName.$dirty)" class="form-error">Field is required. </p>
              </li>
              <li class="kpmg-one-multi-col3">
                  <label>Application Icon</label>
                  <input type="text"  placeholder="120 x 120"  ng-disabled='true' ng-model="submitOnboardingForm.appIcon2x.$modelValue.name" id='dummy2x'>
                  <label title="Browse" class="custom-upload button">
                  <input type="file" ngf-select ng-model="appIcon2x" id="app2Icon" name="appIcon2x" accept="image/*" ng-required ng-disabled='is_disabled_form'>Browse</label>
                  <p ng-show="(submitOnboardingForm.appIcon2x.$error.required && isvalid_form_error) || (submitOnboardingForm.appIcon2x.$error.required && submitOnboardingForm.appIcon2x.$dirty)" class="form-error">Field is required</p>
                  <p ng-show="appIcon2xError" class="form-error">Invalid file.</p>
              </li>
              <li class="kpmg-one-multi-col3">
                  <label>Application Icon</label>
                  <input type="text"  placeholder="180x180" ng-disabled='true' ng-model="submitOnboardingForm.appIcon3x.$modelValue.name" id='dummy3x'>
                  <label title="Browse" class="custom-upload button">
                  <input type="file" ngf-select ng-model="appIcon3x" id="app3Icon" name="appIcon3x" accept="image/*" ng-required ng-disabled='is_disabled_form'>Browse</label>
                  <p ng-show="(submitOnboardingForm.appIcon3x.$error.required && isvalid_form_error) || (submitOnboardingForm.appIcon3x.$error.required && submitOnboardingForm.appIcon3x.$dirty)" class="form-error">Field is required</p>
                  <p ng-show="appIcon3xError" class="form-error">Invalid file.</p>
              </li>
              <li>
                  <label>Description</label>
                  <textarea id="descp" name="appDesc" class="validate" maxlength="500" ng-model='appDesc' required ng-disabled='is_disabled_form'></textarea>
                  <!--<p class="form-error" ng-show="appDesc.length>499">
                    Description can not be more than 500 characters
                  </p>-->
                  <p ng-show="(submitOnboardingForm.appDesc.$error.required && isvalid_form_error) || (submitOnboardingForm.appDesc.$error.required && submitOnboardingForm.appDesc.$dirty)" class="form-error">Field is required.</p>
              </li>
              <li>
                  <label>Type</label>
                  <aside>
                      <input type="radio" id="type-app" name="isAppTypes" ng-model="isAppTypes" class="css3radio" value="Application" required />
                      <label class="kpmg-one-form-field-value" for="type-app">Application</label>
                  </aside>
                  <aside>
                      <input type="radio" id="mobile-web" name="isAppTypes" ng-model="isAppTypes" class="css3radio" value="Mobile web" required />
                      <label class="kpmg-one-form-field-value" for="mobile-web">Mobile web</label>
                  </aside> 
                  <p ng-show="submitOnboardingForm.isAppTypes.$error.required && isvalid_form_error" class="form-error"> Field is required. </p>
              </li>
              <li class="kpmg-one-multi-col" ng-show="isAppTypes == 'Application' ">
                  <label>APP ID</label>
                  <input type="text" name='appId' ng-model="appId"  ng-required ="isAppTypes=='Application' " ng-disabled='is_disabled_form'>
                  <p ng-show="(submitOnboardingForm.appId.$error.required && isvalid_form_error) || (submitOnboardingForm.appId.$error.required && submitOnboardingForm.appId.$dirty)" class="form-error">Field is required. </p>
              </li>
              <li class="kpmg-one-multi-col">
                  <label>URL</label>
                  <input type="text" name='mobSchema' ng-model="mobSchema"  required ng-disabled='is_disabled_form'>
                  <p ng-show="(submitOnboardingForm.mobSchema.$error.required && isvalid_form_error) || (submitOnboardingForm.mobSchema.$error.required && submitOnboardingForm.mobSchema.$dirty)" class="form-error">Field is required. </p>
              </li>
              <li>
                  <label>Available at Apps @ Work</label>
                  <aside>
                      <input type="radio" id="avail-yes" name="isAvailApp" ng-model="isAvailApp" class="css3radio" value="1" required/>
                      <label class="kpmg-one-form-field-value" for="avail-yes">Yes</label>
                  </aside>
                  <aside>
                      <input type="radio" id="avail-no" name="isAvailApp" ng-model="isAvailApp" class="css3radio" value="0" required />
                      <label class="kpmg-one-form-field-value" for="avail-no">No</label>
                  </aside> 
                  <p ng-show="submitOnboardingForm.isAvailApp.$error.required && isvalid_form_error" class="form-error"> Field is required. </p>                       
              </li>
              <li ng-show="isAvailApp == 0 ">
                  <label>Go-Live Date</label>
                  <input type="text" readonly="true" placeholder="YYYY-MM-DD HH:MM" id="datepickerTimePicker"  name='goLiveDate' ng-model='goLiveDate' ng-disabled='is_disabled_form' ng-required = "isAvailApp != 1" ><span class="kpmg-one-calImg">
                  <a class="kpmg-one-live-date" title="Date Picker" id="btn_datepickerTimePicker"></a></span>

                  <p ng-show="(submitOnboardingForm.goLiveDate.$error.required && isvalid_form_error) || (submitOnboardingForm.goLiveDate.$error.required && submitOnboardingForm.goLiveDate.$dirty)" class="form-error"> Field is required. </p> 
              </li>
              <li class="kpmg-one-multi-col"> 
                  <label>Category</label>
                  <aside class="kpmg-one-selectdd">
                      <select class="kpmg-one-selectbox" name="category" ng-model='category' id="category" required ng-disabled='is_disabled_form'>
                          <!--<option value="">Select</option>-->
                          <option value="Advisory">Advisory</option>
                          <option value="Business Intelligence">Business Intelligence</option>
                          <option value="Collaboration">Collaboration</option>
                          <option value="Productivity">Productivity</option>
                          <option value="Risk Apps">Risk Apps</option>
                          <option value="Tax">Tax</option>
                          <option value="Utilities">Utilities</option>
                      </select>
                  </aside>
                  <p ng-show="(submitOnboardingForm.category.$error.required && isvalid_form_error) || (submitOnboardingForm.category.$error.required && submitOnboardingForm.category.$dirty)" class="form-error">Field is required. </p>
              </li>
              <li class="kpmg-one-multi-col">
                  <label>Security</label>
                  <aside class="kpmg-one-selectdd">
                      <select class="kpmg-one-selectbox" name="appSecurity" id="appSecurity" ng-model="appSecurity" required disabled='disabled'>
                          <!--<option value="">Select</option>-->
                          <option value="DC0">DC 0</option>
                          <option value="DC1">DC 1</option>
                          <option value="DC2">DC 2</option>
                          <option value="DC3">DC 3</option>
                      </select>
                  </aside>
                  <a class="kpmg-one-info" title="Info"></a>
                  <p ng-show="(submitOnboardingForm.appSecurity.$error.required && isvalid_form_error) || (submitOnboardingForm.appSecurity.$error.required && submitOnboardingForm.appSecurity.$dirty)" class="form-error">Field is required. </p>
              </li>
          </ul>
          <ul class="kpmg-one-app-status kpmg-one-app-status-form">
              <li>
                <input type="checkbox" id="kpmg-one-note" name="notification" ng-model="notification" ng-true-value="1" ng-false-value="0">
                <label for="kpmg-one-note">Notification</label>
              </li>
          </ul>
          <ul>
               <li class="kpmg-one-panel-btn" ng-if="(viewData.status =='Approved' || viewData.status =='Rejected') && updateOnboardingResp == false ">
                  <button class="btn btn_disable" title="Cancel" type="button" ng-click="cancelUpdateOnsubmit()" ng-if="viewData.status =='Rejected'">Cancel</button>
                  <button class="btn btn_green" title="Submit" type="button" data-ng-click="submitRequest(submitOnboardingForm)">{{viewData.status =='Rejected' ? 'Resubmit' : "Update"}}</button>
              </li>
          </ul>
      </form>

        <section class="kpmg-one-approvals-accordian kpmg-one-page-approvals-accordian-tab" ng-if="viewData.status == 'Pending' ">
            <ul class="kpmg-one-approvals-accordian-tab">
                <li>
                <a class="kpmg-one-approvals-accordian-tab-pending-appr kpmg-one-approvals-accordian-tab-panel" title="Pending Approvals">Pending Approvals</a>
              </li>
                <aside>
                    <ul class="kpmg-one-approvals-accordian-tab-content">
                        <li ng-repeat="pending in approvalResponse.pending">
                          <h5>{{pending.appName}}</h5>
                          <p>{{pending.appDesc}}</p>
                          <a class="fa fa-angle-right" ng-click="headerViewAppDetails(pending,pending.id,1)"></a>
                        </li>
                    </ul>
                </aside>
            </ul>
        </section>

        <section class="kpmg-one-approvals-accordian kpmg-one-page-approvals-accordian-tab" ng-if="viewData.status == 'Approved'">
            <ul class="kpmg-one-approvals-accordian-tab">
                <li>
                    <a class="kpmg-one-approvals-accordian-tab-approved-apps kpmg-one-approvals-accordian-tab-panel" title="Approved Apps">Approved Apps</a>
                </li>
                <aside>
                    <ul class="kpmg-one-approvals-accordian-tab-content kpmg-one-approvals-accordian-tab-content-approved-aaps">
                <li ng-repeat="appr in approvalResponse.approved">
                    <h5>{{appr.appName}}</h5>
                    <p>{{appr.appDesc}}</p>
                    <a class="fa fa-angle-right" ng-click="headerViewAppDetails(appr,appr.id,2)"></a>
                </li>
                    </ul>
                </aside>
            </ul>
        </section>

        <section class="kpmg-one-approvals-accordian kpmg-one-page-approvals-accordian-tab" ng-if="viewData.status == 'Rejected'">
            <ul class="kpmg-one-approvals-accordian-tab">
                <li>
                <a class="kpmg-one-approvals-accordian-tab-rejected-apps kpmg-one-approvals-accordian-tab-panel" title="Rejected Apps">Rejected Apps</a>
              </li>
                <aside>
                    <ul class="kpmg-one-approvals-accordian-tab-content kpmg-one-approvals-accordian-tab-content-rejected-aaps">
                      <li ng-repeat="rej in approvalResponse.rejected">
                          <h5>{{rej.appName}}</h5>
                          <p>{{rej.appDesc}}</p>
                          <a class="fa fa-angle-right" ng-click="headerViewAppDetails(rej,rej.id,3)"></a>
                      </li>
                    </ul>
                </aside>
            </ul>
        </section>
  </section>
<!--TAB3 ENDS-->

<div id="loader" ng-show="isLoading">
    &nbsp;
</div>

<script type="text/javascript">
$(document).ready(function(){ 

    $(".kpmg-one-info").click(function(){
      $('.kpmg-one-popup-wrapper').show();
    });

    $(".kpmg-one-popup-wrapper a.kpmg-one-popup-close").click(function(){
      $('.kpmg-one-popup-wrapper').hide();
    });

    Date.parseDate = function( input, format ){
      return moment(input,format).toDate();
    };
    Date.prototype.dateFormat = function( format ){
      return moment(this).format(format);
    };

    /*
        allowedTimes array obj.
        created array for allowed times using in datetimepicker
    */
    var allowedTimes= [];
    var dt_h=0, dt_m;

    for(var i=0, x=0;  i<24; i += 1) {       
        for (j = 0; j < 60; j += 5) {
            dt_h = (i < 10 ? '0' : '') + i;
            dt_m = (j < 10 ? '0' : '') + j;
            var hm = dt_h+':'+dt_m;
           allowedTimes.push(hm);
        }
    }

    $('#datepickerTimePicker').datetimepicker({
          format:'MM/DD/YY HH:mm',
          formatTime:'HH:mm',
          formatDate:'MM/DD/YY',
          allowTimes: allowedTimes,
        onShow:function( current_time, $input ){
            this.setOptions({
                minDate: 0,
                minTime: new Date(),
                onSelectDate:function(current_time, $input){
                    var currentDate = new Date();
                    currentDate = currentDate.dateFormat('MM/DD/YY');
                    var selectedDate = $input.val(),    
                    delimiter = ' ',
                    start = 0,
                    end = 3,
                    tokens = selectedDate.split(delimiter).slice(start, end),
                    splitDate = tokens[0];

                    if (splitDate === currentDate)
                    {
                    this.setOptions(
                    {
                    minTime: new Date()
                    });
                    }
                    else
                    {
                    this.setOptions(
                    {
                    minTime: false
                    });
                    }
                }
            })
        }
    });

    $('#btn_datepickerTimePicker').click(function(){
        $('#datepickerTimePicker').datetimepicker('show'); 
    });

  });
</script>
